.container{
    padding-top: 30px;
    position: relative;
}
.card{
    margin-top: 20px;
    margin-left: 4vw;
    width: 90%;
    opacity: 0.78;
    box-shadow: 4px 4px 6px rgb(0, 0, 0);
    border-radius: 25px;
    background-color: black;
    border-color: silver;
    border-style: double;
}
.card-header{
    padding-top: 30px;
    height: 80px;
    font-size: 45px;
    color: silver;
}
.card-body{
    font-size: 25px;
    color: silver;
}
.card-title{
    font-size: 25px;
    font-weight:bold;
    color: silver;
}
.btn{
    margin-left: 15vw;
    width: 40vw;
}
.img{
    position: absolute;
    width: 100vw;
    height: 92vh;
}