<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-header">
          Reglas del juego
        </div>
        <div class="card-body">
            <p class="card-text">El clasico juego de la carta mas alta ahora con tus personajes de marvel favoritos</p>
          </div>
        <div class="card-body">
          <h5 class="card-title">Regla 1</h5>
          <p class="card-text">En cada inicio de juego se repartiran 5 cartas a cada jugador</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Regla 2</h5>
            <p class="card-text">Deberas poner tu carta en el tablero</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Regla 3</h5>
            <p class="card-text">cada carta tiene un valor "power y un valor "exp", la carta con mayor valor "power" ganara, en caso de empate se verificara el "exp"<p>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

