.container{
    width: 300vh;
    height: 90vh;
    background: rgb(86,255,0);
    background: radial-gradient(circle, rgba(86,255,0,1) 0%, rgba(55,192,6,1) 0%, rgba(12,48,12,1) 100%);
}
.imagenCard{
    background-color: black;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    border-radius: 15px;

}
.containercards{
    border-color: black;
    border-style: double;
}
.cards{
        
        height: 150px;
        width: 100px;
        margin-top: 5px;
        border-radius: 15px;
}
/* Create two equal columns that floats next to each other */
.column {
    left: 80px;
    top: 20px;
    float: left;
    width: 15%;
    padding: 15 px;
    height: 300px; /* Should be removed. Only for demonstration */
    position: relative;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
