<app-navbar></app-navbar>
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" class="image">
      </div>
      <div class="carousel-caption">
        <div class="juegoContainer1">
            <h3 class="tituloUnir">Crear Partida</h3>
            <p class="descripcion">Crea una partida e invita a tus amigos a jugar</p>
            <input type="entrar" class="entrar" value="Crear"  (click)="crearPartida()">
        </div>        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random first slide" class="image">
      </div>
      <div class="carousel-caption">
        <div class="juegoContainer2">
            <h3 class="tituloUnir">Unirse a Partida</h3>
            <p class="descripcion">Unete con tus amigos y juega </p>
            <input type="entrar" class="entrar" value="Unirse" (click)="partidaCreada()" >
            <input type="text"  class="idMesa" name="login" placeholder="Ingrese el id" [(ngModel)]="idMesa">
        </div>  
      </div>
    </ng-template>   
</ngb-carousel>