.formularioRegistro{
    width: 50%;
    margin-left: 25%;
    background-color: lightblue;
    padding: 5%;
    box-shadow: 10px 10px 10px 12px rgb(80, 100, 106);
    margin-top: 40px;
    border-radius: 25px;
}
.logo{
    width: 50%;
    margin-left: 25%;
    border-radius: 25px;
    margin-bottom: 25px;
}
.form-group{
    margin: 25px;
}