<app-navbar></app-navbar>
<div class="card">
    <div class="card-body" *ngIf="data | async as user">
       {{user.displayName?user.displayName: user.email}}!! el Id de la mesa es {{Id}} recuerda darselo a tus amigos para que se unan.
    </div>
</div>
<div class="gameBoard">
    <mat-grid-list cols="7" rowHeight="90px">
        <mat-grid-tile [colspan]="7" [rowspan]="7" class="containerJ">
            <div class="board">
                <input type="button" value=">" (click)="siguiente()">   
                <div class="handBoard" >

                </div>
            </div>
                        
        </mat-grid-tile>     
            <div class="example-box" 
                 *ngFor="let card of cards.slice(inicio,final); index as i" 
                 (cdkDragEnded)="onDragEnded($event,i)"
                 cdkDrag>
                 <img src={{card.imgUrl}} class="imagenCard">
            </div>           
    </mat-grid-list>   
</div>
